.sec{
    overflow: hidden ;
}
.inbox{
    /* background-color: aqua; */
    min-height: 500px;
    text-align: center;
    color: white;
    padding: 100px 0px;
}
.inbox1{
    /* background-color:gray; */
    min-height: 200px;
    text-align: center;
    padding-top: 30px;
    
}
.inbox2{
    /* background-color: gray; */
    min-height: 200px;
    text-align: center;
    padding-top: 30px;
    
}
.inbox3{
    /* background-color: gray; */
    min-height: 200px;
    text-align: center;
    padding-top: 30px;
    
}
.inbox4{
    /* background-color: antiquewhite; */
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
    
}
.inbox5{
    /* background-color: antiquewhite; */
    min-height: 150px;
    /* text-align: center; */
    padding-top: 50px;
    
}
.inbox6{
    /* background-color: green; */
    min-height: 250px;
    /* text-align: center; */
    padding-top: 50px;
    
}
.inbox7{
    /* background-color: green; */
    min-height: 250px;
    text-align: center;
    padding-top: 30px;
    
}
.inbox8{
    /* background-color: blueviolet; */
    min-height: 250px;
    text-align: center;
    padding-top: 60px;
    
}
.inbox9{
    /* background-color: antiquewhite; */
    min-height: 250px;
    text-align: center;
    padding-top: 30px;
    
}
.inbox10{
    /* background-color: antiquewhite; */
    min-height: 250px;
    text-align: center;
    padding-top: 30px;
    
}
.inbox11{
    /* background-color: antiquewhite; */
    min-height: 550px;
    text-align: center;
    padding-top: 30px;
    
}
.inbox12{
    /* background-color: antiquewhite; */
    min-height: 400px;
    text-align: center;
    padding-top: 30px;
    color: white;
    
}
.inbox13{
    /* background-color: violet; */
    min-height: 450px;
    text-align: center;
    padding-top: 90px;
}
.inbox14{
    /* background-color:yellow; */
    min-height: 200px;
    text-align: center;
    padding-top: 90px;
    
    
}

.inbox16{
    /* background-color:wheat; */
    min-height: 400px;
    text-align: center;
    padding-top: 90px;
    color: white;
    
    
}
.inbox17{
    /* background-color:wheat; */
    min-height: 100px
    
}
.inbox18{
    /* background-color:blue; */
    min-height: 100px
    
}
.inbox19{
    /* background-color:violet; */
    min-height: 100px
    
}
.inbox20{
    /* background-color:green; */
    min-height: 100px
    
}



.sec1{
background-image: url(pic1.jpg);
background-size: cover;
background-position: center;

    
}
.link{
    color: black !important;
}
.sec3{
    /* background-color: aqua; */
}
.sec4{
    background-color:#f5f5f5;
}
.sec5{
    /* background-color: blueviolet; */
}
.sec6{
    /* background-color: orange; */
}
.sec7{
    background-color:#5e7772;
}
.sec8{
    /* background-color:violet; */
}
.sec9{
    background-color:black;
}
.sec10{
    background-color:black;
}
.sec11{
    background-color: #f5f5f5;
}
.book{
    color: orangered;
}
.line1{
    background-color: gray;
    border: 1px solid;
  margin-top: 9px;
}
.space{
    padding-top: 10px;
}
.note{
    color: blue;
}
.note4{
    color: white;
}
.note5{
    color: blue;
}

.pic7{
    border: 1px solid gray;
}
.pic8{
    border: 1px solid gray;
}
.pic9{
    border: 1px solid gray;
}
.pic10{
    border: 1px solid gray;
}
.min{
    padding-top: 12px;
}
.min1{
    padding-top: 12px;
}
.min2{
    padding-top: 12px;
}
.sp{
    margin-top: -100px;
}
.cl{
    color: blue;
}
.cl1{
    color:blue;
}